<div>
  <header>
    <div class="header-left">
      <img src="../../assets/i-india_logo.png" alt="Logo" height="32px" />
    </div>
    <span style="font-size: 30px; cursor: pointer" (click)="openNav()"
      >&#9776;</span
    >
    <div id="mySidenav" class="sidenav">
      <a class="closebtn" (click)="closeNav()">&times;</a>
      <a routerLink="/" (click)="closeNav()">Home</a>
      <a routerLink="/contact" (click)="closeNav()">Contact Us</a>
      <a routerLink="/about" (click)="closeNav()">About</a>
      <a routerLink="/services" (click)="closeNav()">Services</a>
    </div>
  </header>
</div>

<div><app-home></app-home></div>
